html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    margin: 0;
    padding: 0;
}

td {
    text-align: center;
}

.clicked {
    background-color: #2C88C3 !important;
    color: white;
}

main {
    height: 100vh;
    display: flex;
}

#table {
    width: 70%;
    overflow-y: scroll;
}

.tableResult {
    margin: 0;
    color: white;
}

#panel {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    width: 30%;
    justify-content: center;
}

#pnlDateInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pnlIS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pnlDate {
    flex: 1;
    padding: 0 10px;
    width: 100%;
}

.yearPanel {
    flex: 2;
}