html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p {
    margin: 0;
    padding: 0;
}

td {
    text-align: center;
}

.clicked {
    background-color: #2C88C3 !important;
    color: white;
}

main {
    height: 100vh;
    display: flex;
}

#table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#table div:nth-child(1) {
    overflow-y: auto;
    height: 100%;
}

.tableResult {
    margin: 0;
    color: white;
}

.year {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#panel {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}

#pnlDateInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pnlIS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pnlDate {
    flex: 1;
    padding: 0 10px;
    width: 100%;
}

.yearPanel {
    flex: 2;
}